*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'sora';
  src: url('/src/assets/fonts/Sora-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sora';
  src: url('/src/assets/fonts/Sora-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('/src//assets/fonts/Raleway-Light.ttf');
  font-weight: light;
}

@font-face {
  font-family: 'raleway';
  src: url('/src//assets/fonts/Raleway-Bold.ttf');
  font-weight: bold;
}